#about_us {
  margin: 40px 0; }
  #about_us .headline {
    font-size: 36px; }
  #about_us .sub-headline {
    margin-top: -10px; }
  #about_us .list {
    margin-top: 20px; }
  #about_us .avatar img {
    width: 100%;
    border: 4px solid #FFF;
    box-shadow: 0px 0px 10px 0px #cccccc; }
  #about_us .content {
    margin-top: 10px; }
    #about_us .content table td {
      padding: 4px 8px; }
    #about_us .content table tr:last-child td {
      border-bottom: 1px solid #DDD; }
  #about_us .sidebar .list {
    margin-top: 0; }
    #about_us .sidebar .list .menu-item {
      display: block;
      background: #053c79;
      border-radius: 5px;
      padding: 4px 6px;
      margin-bottom: 6px;
      text-align: center;
      color: #FFF;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
      #about_us .sidebar .list .menu-item.active {
        background: #022042; }
      #about_us .sidebar .list .menu-item:not(.active):hover {
        opacity: 0.75; }
  #about_us #history .content img {
    width: 100%;
    margin-bottom: 10px; }
  #about_us #history .content p {
    margin-bottom: 20px;
    text-indent: 40px;
    text-align: justify; }
  #about_us #manager .list .manager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 14px; }
    #about_us #manager .list .manager .info .name {
      font-size: 24px;
      line-height: 18px; }
    #about_us #manager .list .manager .info .position {
      font-size: 18px;
      color: #0081D7; }
    #about_us #manager .list .manager.col-lg-6 {
      margin-bottom: 40px; }
  #about_us #executive-committee .list .committee {
    margin-bottom: 20px; }
    #about_us #executive-committee .list .committee img {
      width: 100%; }
  #about_us #annual-report .list .report {
    margin-bottom: 20px; }
    #about_us #annual-report .list .report .title {
      font-size: 24px; }
    #about_us #annual-report .list .report .image {
      border: 1px solid #DDD;
      background: #EEE;
      padding: 10px 14px; }
      #about_us #annual-report .list .report .image img {
        width: 100%;
        max-height: 210px; }
    #about_us #annual-report .list .report .download {
      border: 1px solid #DDD;
      border-top: 0;
      text-align: right; }
      #about_us #annual-report .list .report .download > div {
        display: inline-block;
        padding: 4px 10px; }
      #about_us #annual-report .list .report .download .doc-icon {
        float: left;
        border-right: 1px solid #DDD; }
