#career {
  padding: 40px 0; }
  #career .headline {
    font-size: 36px; }
  #career .sub-headline {
    margin-top: -10px; }
  #career .content {
    margin-top: 20px; }
    #career .content .topic {
      font-size: 24px;
      font-weight: 700; }
    #career .content p {
      text-indent: 40px;
      margin-bottom: 20px; }
    #career .content table td {
      padding: 4px 8px; }
    #career .content table tr:last-child td {
      border-bottom: 1px solid #DDD; }
