#banner {
  background: url("../../images/claim-banner.png") center;
  background-size: cover;
  height: 600px; }

#content {
  margin: 40px 0; }
  #content .headline {
    text-align: center;
    font-size: 32px;
    color: #053c79;
    margin: 0;
    margin-bottom: 20px; }
  #content .box {
    padding-bottom: 10px; }
    #content .box .topic {
      padding: 14px;
      background: #d3eafa;
      border-radius: 20px;
      color: #1b1862;
      text-align: center;
      font-size: 24px;
      cursor: pointer;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      #content .box .topic:hover {
        background: #B3DDfa; }
    #content .box .detail {
      display: none;
      padding: 20px 0 10px;
      line-height: 32px; }
      #content .box .detail strong {
        font-size: 28px; }
    #content .box.active .topic {
      background: #25a2fa;
      color: #FFF; }

#emergency {
  background-color: #d3eafa;
  padding: 30px 0px; }
  #emergency .headline {
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    color: #1b1862; }
  #emergency .item .icon {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 80px; }
  #emergency .item .name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #1b1862; }
  #emergency .item .number {
    font-size: 50px;
    line-height: 52px;
    font-weight: bold;
    text-align: center;
    color: #d0011b;
    border-bottom: 1px solid #969799; }
  #emergency .item .detail {
    text-align: center;
    margin-top: 15px;
    line-height: 22px; }
