#contact {
  padding: 40px 0; }
  #contact .headline {
    font-size: 36px; }
  #contact .sub-headline {
    margin-top: -10px; }
  #contact .tsi-contact {
    margin-top: 10px;
    margin-bottom: 10px; }
  #contact .map iframe {
    width: 100%;
    height: 450px; }
  #contact .table-detail thead tr {
    background-color: #15A0FE;
    color: #ffffff; }
    #contact .table-detail thead tr th {
      font-size: 22px;
      border-color: #ffffff; }
  #contact .table-detail tbody tr td {
    border-color: #ffffff; }
  #contact .table-detail tbody .department {
    background-color: #D2EAFB; }
    #contact .table-detail tbody .department:hover {
      cursor: pointer; }
    #contact .table-detail tbody .department .plus {
      font-size: 22px;
      font-weight: bold;
      color: #D0021B; }
  #contact .table-detail tbody .more-detail {
    display: none;
    background-color: #ffffff; }
    #contact .table-detail tbody .more-detail td {
      padding: 10px 30px 20px; }
      #contact .table-detail tbody .more-detail td .name {
        font-weight: bold;
        font-size: 26px; }

@media (max-width: 767px) {
  #contact .table-detail tbody .more-detail td {
    padding: 0px 10px; }
  #contact .map iframe {
    height: 300px; } }
