#download {
  padding: 40px 0px; }
  #download .headline {
    font-size: 36px; }
  #download .panel-download {
    margin-bottom: 10px; }
    #download .panel-download .panel-heading {
      background: #25a2fa;
      font-size: 26px;
      padding: 0; }
      #download .panel-download .panel-heading .panel-link {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #FFF; }
        #download .panel-download .panel-heading .panel-link .icon-plus {
          position: absolute;
          right: 15px; }
    #download .panel-download .panel-body {
      display: none;
      border: 1px solid #25a2fa;
      padding: 15px 60px;
      margin-bottom: 10px; }
      #download .panel-download .panel-body .download-list .unlink {
        pointer-events: none;
        cursor: default;
        color: #b4b4b4; }
    #download .panel-download .panel-body.active {
      display: block; }
