#banner-top {
  background: #053c79;
  min-height: inherit !important; }
  #banner-top img {
    margin: 0 auto;
    max-width: 100%; }

.bx-wrapper .bx-viewport {
  height: auto !important; }

#quick-faq-bar {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 28px;
  color: #FFF;
  border-radius: 0; }
  #quick-faq-bar i {
    font-size: 24px;
    margin-right: 6px; }

#products {
  padding: 40px 0; }
  #products .headline {
    text-align: center;
    margin-bottom: 30px; }
    #products .headline .main {
      font-size: 32px;
      color: #1b1862; }
    #products .headline .sub {
      font-size: 24px;
      color: #0081D7; }
  #products .list .product {
    cursor: pointer; }
    #products .list .product .icon {
      display: block;
      position: relative;
      margin-bottom: 10px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #products .list .product .icon .img-normal,
      #products .list .product .icon .img-hover {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        max-width: 60%; }
      #products .list .product .icon .img-normal {
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s; }
      #products .list .product .icon .img-hover {
        opacity: 0; }
    #products .list .product .info {
      position: relative;
      margin-bottom: 20px;
      padding: 4px 0;
      border-radius: 5px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #products .list .product .info .arrow {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #25a2fa; }
      #products .list .product .info .name {
        display: block;
        text-align: center;
        font-size: 18px;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
      #products .list .product .info .sub-products {
        display: none; }
        #products .list .product .info .sub-products .sub-product {
          display: block;
          font-size: 18px;
          line-height: 18px;
          padding: 6px 10px;
          -webkit-transition: background 0.2s;
          transition: background 0.2s; }
    #products .list .product:hover .icon {
      background: #FFF; }
      #products .list .product:hover .icon .img-normal {
        opacity: 0; }
      #products .list .product:hover .icon .img-hover {
        opacity: 1; }
    #products .list .product:hover .info {
      background: #25a2fa; }
      #products .list .product:hover .info .arrow {
        display: block; }
      #products .list .product:hover .info .name {
        color: #FFF; }
      #products .list .product:hover .info .sub-products .sub-product {
        color: #FFF; }
        #products .list .product:hover .info .sub-products .sub-product:hover {
          background: #4DB5FF; }

#highlight {
  padding: 20px 0 40px; }
  #highlight .headline {
    font-size: 28px;
    color: #1b1862; }
  #highlight .banner img {
    width: 100%;
    max-height: 400px; }

#news {
  padding: 20px 0; }
  #news .headline {
    font-size: 28px;
    color: #1b1862;
    position: relative; }
    #news .headline .view-all {
      font-size: 18px;
      position: absolute;
      right: 0px;
      top: 8px; }
      #news .headline .view-all a {
        color: red; }
  #news .list .news-item {
    margin-bottom: 20px; }
    #news .list .news-item .image {
      height: 180px;
      background-size: cover;
      margin-bottom: 10px; }
      #news .list .news-item .image img {
        width: 100%;
        max-width: 100%; }
    #news .list .news-item .title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 4px;
      color: #1b1862; }
      #news .list .news-item .title a {
        color: #1b1862; }
    #news .list .news-item .description {
      color: #0081D7;
      line-height: 20px; }
      #news .list .news-item .description .read-more {
        color: #FF0000; }
        #news .list .news-item .description .read-more:hover {
          text-decoration: underline !important; }

#footer-banners {
  background: #F3F3F3;
  padding: 30px 0 20px; }
  #footer-banners img {
    width: 100%;
    margin-bottom: 10px; }

@media (max-width: 767px) {
  #ui-main > div:first-child {
    min-height: 50px; }
  #banner .container .image-div {
    height: 300px; }
    #banner .container .image-div img {
      margin-top: 30px;
      height: 300px; }
  #banner .container .content {
    height: auto;
    padding: 20px 0; } }
