#news {
  padding: 40px 0; }
  #news .headline {
    font-size: 36px; }
  #news .sub-headline {
    margin-top: -10px; }
  #news .list {
    margin-top: 20px; }
    #news .list .news {
      margin-bottom: 20px; }
      #news .list .news .image {
        height: 180px;
        background-size: cover;
        margin-bottom: 10px; }
        #news .list .news .image img {
          width: 100%; }
      #news .list .news .title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 4px;
        color: #1b1862; }
        #news .list .news .title a {
          color: #1b1862; }
      #news .list .news .description {
        color: #0081D7;
        line-height: 20px; }
        #news .list .news .description .read-more {
          color: #FF0000; }
          #news .list .news .description .read-more:hover {
            text-decoration: underline !important; }
