#banner {
  position: relative;
  background: url("../../images/product-banner-01.png") center left no-repeat;
  background-size: cover;
  color: #FFF;
  text-align: center; }
  #banner > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 14px 20px; }
  #banner .headline-main {
    padding: 0 20px;
    font-size: 48px; }
  #banner .headline-sub {
    padding: 0 20px;
    font-size: 24px; }

#quick-faq-bar {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 28px;
  color: #FFF;
  border-radius: 0; }
  #quick-faq-bar i {
    font-size: 24px;
    margin-right: 6px; }

#product-list {
  padding: 50px 0 30px; }
  #product-list .headline {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #25a2fa; }
  #product-list .list .item {
    padding: 15px;
    margin-bottom: 20px;
    display: block; }
    #product-list .list .item .product-img {
      position: relative;
      margin-bottom: 10px;
      background: #0081D7; }
      #product-list .list .item .product-img > img:not(.icon-img) {
        width: 100%; }
      #product-list .list .item .product-img .icon-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 120px 160px;
        border-color: transparent transparent #25a2fa transparent;
        line-height: 0px;
        _border-color: #000000 #000000 #25a2fa #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
      #product-list .list .item .product-img .icon-img {
        position: absolute;
        right: 10px;
        bottom: 10px; }
    #product-list .list .item .product-info .product-name-main {
      color: #25a2fa;
      font-size: 24px;
      line-height: 24px; }
    #product-list .list .item .product-info .product-name-sub {
      color: #666;
      line-height: 24px; }
    #product-list .list .item:hover {
      background: #d3eafa; }

#product-description {
  background: #d3eafa;
  padding: 60px 0; }
  #product-description .headline-main {
    padding: 0 20px;
    font-size: 42px; }
  #product-description .headline-sub {
    padding: 0 20px;
    font-size: 24px; }
  #product-description .container {
    padding: 0 40px; }

#products {
  padding: 70px 0 80px; }
  #products .headline {
    text-align: center;
    margin-bottom: 30px; }
    #products .headline .main {
      font-size: 32px;
      color: #1b1862; }
    #products .headline .sub {
      font-size: 24px;
      color: #0081D7; }
  #products .list .product {
    cursor: pointer; }
    #products .list .product .icon {
      position: relative;
      margin-bottom: 10px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #products .list .product .icon .img-normal,
      #products .list .product .icon .img-hover {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        max-width: 60%; }
      #products .list .product .icon .img-normal {
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s; }
      #products .list .product .icon .img-hover {
        opacity: 0; }
    #products .list .product .info {
      position: relative;
      margin-bottom: 20px;
      padding: 4px 0;
      border-radius: 5px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #products .list .product .info .arrow {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #25a2fa; }
      #products .list .product .info .name {
        text-align: center;
        font-size: 18px;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
      #products .list .product .info .sub-products {
        display: none; }
        #products .list .product .info .sub-products .sub-product {
          display: block;
          font-size: 18px;
          line-height: 18px;
          padding: 6px 10px;
          -webkit-transition: background 0.2s;
          transition: background 0.2s; }
    #products .list .product:hover .icon {
      background: #FFF; }
      #products .list .product:hover .icon .img-normal {
        opacity: 0; }
      #products .list .product:hover .icon .img-hover {
        opacity: 1; }
    #products .list .product:hover .info {
      background: #25a2fa; }
      #products .list .product:hover .info .arrow {
        display: block; }
      #products .list .product:hover .info .name {
        color: #FFF; }
      #products .list .product:hover .info .sub-products .sub-product {
        color: #FFF; }
        #products .list .product:hover .info .sub-products .sub-product:hover {
          background: #4DB5FF; }

#main-content {
  padding: 60px 0; }
  #main-content .headline {
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #25a2fa; }
    #main-content .headline .headline-sub {
      color: #1b1862;
      font-size: 28px;
      line-height: 28px; }
    #main-content .headline .headline-main {
      color: #25a2fa;
      font-size: 36px; }
    #main-content .headline .description {
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px; }
  #main-content .content .block {
    margin-bottom: 1px;
    clear: both; }
    #main-content .content .block .topic {
      font-size: 30px;
      background: #d3eafa;
      color: #25a2fa;
      padding: 10px 20px;
      cursor: pointer;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s; }
      #main-content .content .block .topic:hover {
        opacity: 0.8; }
    #main-content .content .block .detail {
      display: none;
      padding: 14px 20px; }
  #main-content .contact-form {
    margin-top: 30px; }
    #main-content .contact-form form input, #main-content .contact-form form textarea, #main-content .contact-form form select {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; }
    #main-content .contact-form form input[type=radio] {
      width: auto; }
    #main-content .contact-form form textarea {
      resize: none;
      border-color: #cccccc; }
    #main-content .contact-form form select {
      height: 34px;
      border: 0;
      outline: 1px inset #cccccc;
      outline-offset: -1px;
      background-color: #ffffff; }
    #main-content .contact-form .btn-buy {
      font-size: 18px;
      color: #ffffff;
      background-color: #4db5ff; }
  #main-content .option {
    padding: 20px 0; }
