.latnotfound {
  padding: 2px 5px;
  color: white;
  background: #cc0000;
  border-radius: 4px;
  font-size: 10px; }

.type-selector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .type-selector-container .type-child {
    padding: 5px 15px;
    background: rgba(5, 60, 121, 0.5);
    color: white;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer; }
    .type-selector-container .type-child:hover {
      background: rgba(5, 60, 121, 0.7); }
    .type-selector-container .type-child.selected {
      background: #053c79; }

.service-finder .container.service-intro {
  margin-top: -70px;
  padding-top: 70px;
  height: 100vh;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .service-finder .container.service-intro h1 {
    font-size: 60px;
    font-weight: bolder; }
  .service-finder .container.service-intro h2 {
    text-align: center; }
  .service-finder .container.service-intro .image-div {
    width: 500px;
    height: auto !important; }
    .service-finder .container.service-intro .image-div img {
      width: 100%; }
  .service-finder .container.service-intro .form-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    .service-finder .container.service-intro .form-wrap .service-list {
      text-align: center; }
      .service-finder .container.service-intro .form-wrap .service-list .service-item {
        margin: 10px; }
        .service-finder .container.service-intro .form-wrap .service-list .service-item .service-box {
          width: 120px;
          border-radius: 5px;
          height: 120px;
          background: #25a2fa; }

.service-finder .service-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-top: 100px; }
  @media screen and (max-width: 1024px) {
    .service-finder .service-result {
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 30px; } }
  .service-finder .service-result .map-wrap {
    min-height: 500px;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 1024px) {
      .service-finder .service-result .map-wrap {
        min-height: 0; } }
    .service-finder .service-result .map-wrap .custom-marker {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .service-finder .service-result .map-wrap .custom-marker .service-marker {
        width: 15px;
        height: 15px;
        background: #053c79;
        border-radius: 50%;
        margin-right: 10px;
        border: 3px solid white; }
      .service-finder .service-result .map-wrap .custom-marker .service-title {
        white-space: nowrap; }
        .service-finder .service-result .map-wrap .custom-marker .service-title a {
          color: black;
          font-size: 18px;
          text-shadow: 0 1px 1px white; }
    .service-finder .service-result .map-wrap .location-selected-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
      @media screen and (max-width: 820px) {
        .service-finder .service-result .map-wrap .location-selected-wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          box-sizing: border-box; } }
      .service-finder .service-result .map-wrap .location-selected-wrap .form-row {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        margin: 5px; }
        @media screen and (max-width: 1024px) {
          .service-finder .service-result .map-wrap .location-selected-wrap .form-row {
            width: auto; } }
        .service-finder .service-result .map-wrap .location-selected-wrap .form-row label.dropdown {
          width: 100%;
          font-size: 14px;
          margin: 0; }
          .service-finder .service-result .map-wrap .location-selected-wrap .form-row label.dropdown .dropdown {
            padding-right: 40px; }
    .service-finder .service-result .map-wrap #service-map {
      height: auto;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
      @media screen and (max-width: 1024px) {
        .service-finder .service-result .map-wrap #service-map {
          visibility: hidden;
          position: absolute; } }
  .service-finder .service-result .result-list {
    padding: 0;
    height: 100%;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: white;
    border-right: 1px #25a2fa solid;
    overflow: scroll; }
    @media screen and (max-width: 1024px) {
      .service-finder .service-result .result-list {
        width: 100%;
        position: relative;
        top: 0;
        opacity: 0.9;
        border-right: none; } }
    .service-finder .service-result .result-list .result-wrap {
      font-family: 'Thonburi', 'Tahoma', serif;
      border-radius: 4px;
      font-size: 12px;
      font-weight: normal;
      width: 100%;
      margin: 0; }
      .service-finder .service-result .result-list .result-wrap thead {
        border: none; }
        .service-finder .service-result .result-list .result-wrap thead tr {
          border: none; }
          .service-finder .service-result .result-list .result-wrap thead tr th {
            border: none; }
      .service-finder .service-result .result-list .result-wrap th {
        background: #dedede;
        color: #25a2fa;
        text-align: center; }
      .service-finder .service-result .result-list .result-wrap td {
        padding: 10px;
        border-top: none; }
      .service-finder .service-result .result-list .result-wrap tr {
        border-bottom: 1px solid lightgrey; }
      .service-finder .service-result .result-list .result-wrap tr:nth-child(odd) {
        background: white; }

.service-finder .form-row {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'THSarabunNew', 'Thonburi', 'Tahoma', serif;
  font-weight: lighter; }
  .service-finder .form-row .spinner-wrap {
    pointer-events: none;
    top: 50%;
    -webkit-transform: translate(0, -50%) scale(0.5);
            transform: translate(0, -50%) scale(0.5);
    position: absolute;
    right: 0;
    z-index: 2; }
    .service-finder .form-row .spinner-wrap .spinner {
      width: 33px;
      height: 33px;
      margin: 0;
      opacity: 0; }
      .service-finder .form-row .spinner-wrap .spinner.active {
        opacity: 1; }

.service-finder .service-finder-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .service-finder .service-finder-form .dropdown {
    display: block;
    float: none; }
  .service-finder .service-finder-form button {
    float: none;
    margin: auto;
    display: block; }
  .service-finder .service-finder-form h1 {
    text-align: center; }

.service-finder .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .service-finder .service-list .item {
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .service-finder .service-list .item .wrap {
      min-width: 80px; }
      .service-finder .service-list .item .wrap img {
        margin: auto;
        display: block; }

.map-loading-wrap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }
  .map-loading-wrap.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
