#service-finder {
  padding-top: 25px; }
  #service-finder p {
    margin: 0px 0px; }
  #service-finder .result {
    width: 30%;
    height: 100%;
    overflow-y: scroll; }
    #service-finder .result h1 {
      padding: 0px 10px; }
    #service-finder .result .result-list {
      font-family: 'Thonburi', 'Tahoma', serif;
      height: 100vh; }
      #service-finder .result .result-list .list:first-child {
        border-top: 1px solid #e8e8e8; }
      #service-finder .result .result-list .list {
        border-bottom: 1px solid #e8e8e8; }
        #service-finder .result .result-list .list p {
          font-size: 12px;
          padding: 0px 10px 10px 10px; }
        #service-finder .result .result-list .list .name {
          padding-top: 10px;
          font-weight: bold;
          cursor: pointer; }
          #service-finder .result .result-list .list .name .latlong {
            padding: 2px 5px;
            color: white;
            background: #cc0000;
            border-radius: 4px;
            font-size: 10px; }
        #service-finder .result .result-list .list .tel-fax span {
          display: block; }
  #service-finder .filter-map {
    width: 70%;
    height: 100%; }
    #service-finder .filter-map .filter {
      z-index: 1;
      border-bottom: 1px solid #e8e8e8; }
      #service-finder .filter-map .filter .filter-service {
        padding: 10px 10px; }
        #service-finder .filter-map .filter .filter-service .btn {
          font-size: 20px;
          margin-right: 5px; }
        #service-finder .filter-map .filter .filter-service .btn.btn-service.active {
          background: #053c79; }
        #service-finder .filter-map .filter .filter-service .btn.btn-service {
          padding: 5px 15px;
          background: rgba(5, 60, 121, 0.5);
          color: white;
          border-radius: 4px; }
      #service-finder .filter-map .filter .filter-location {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        font-size: 18px; }
        #service-finder .filter-map .filter .filter-location select {
          margin: 0px 10px 10px 10px;
          font-size: inherit; }
        #service-finder .filter-map .filter .filter-location .brand {
          display: none; }
    #service-finder .filter-map .show-map {
      display: block;
      height: 100vh; }

@media (max-width: 991px) {
  #service-finder .result {
    width: 100%;
    height: auto;
    overflow-y: auto; }
  #service-finder .filter-map {
    width: 100%;
    height: auto; }
    #service-finder .filter-map .show-map {
      display: none; } }
