body img {
  max-width: 100%; }

#what-to-do {
  margin-top: 60px; }
  #what-to-do .headline {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    color: #1b1862; }
  #what-to-do .headline-sub {
    text-align: center;
    color: #0081D7; }
  #what-to-do .to-do-list {
    padding: 20px 0px; }
    #what-to-do .to-do-list .image {
      text-align: right; }
    #what-to-do .to-do-list .list-item .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 18px 0px;
      cursor: pointer; }
      #what-to-do .to-do-list .list-item .item:hover .text {
        background-color: #0095ea; }
      #what-to-do .to-do-list .list-item .item .number {
        z-index: 1;
        width: 50px;
        height: 50px;
        padding: 4px 18px;
        font-size: 30px;
        color: #fff;
        background-color: #d0011b;
        border: 2px solid #ffffff;
        border-radius: 50% 50%; }
      #what-to-do .to-do-list .list-item .item .text {
        width: 80%;
        margin-left: -30px;
        padding: 5px 20px 5px 40px;
        color: #ffffff;
        line-height: 22px;
        background-color: #0080d7;
        border-radius: 30px 30px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
    #what-to-do .to-do-list .list-item .sub-item {
      display: none;
      width: 80%;
      margin-top: -25px;
      margin-left: 20px;
      padding: 5px 20px 5px 40px;
      color: #000000; }
      #what-to-do .to-do-list .list-item .sub-item a {
        font-weight: bold; }
  #what-to-do .product-data-head {
    font-size: 40px;
    font-weight: bold; }
  #what-to-do .product-data-content {
    font-size: 20px;
    margin: 20px; }

#emergency {
  background-color: #d3eafa;
  padding: 30px 0px; }
  #emergency .headline {
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    color: #1b1862; }
  #emergency .item .icon {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 80px; }
  #emergency .item .name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #1b1862; }
  #emergency .item .number {
    font-size: 50px;
    line-height: 52px;
    font-weight: bold;
    text-align: center;
    color: #d0011b;
    border-bottom: 1px solid #969799; }
  #emergency .item .detail {
    text-align: center;
    margin-top: 15px;
    line-height: 22px; }

#more-detail {
  padding: 30px 0px; }
  #more-detail .headline {
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    color: #0081D7;
    text-align: center; }
  #more-detail .headline-sub {
    text-align: center; }
  #more-detail .detail .image {
    margin-top: 15px; }
  #more-detail .detail .text {
    line-height: 26px; }
    #more-detail .detail .text .head {
      margin-top: 15px;
      font-size: 24px;
      font-weight: bold;
      line-height: 26px; }
    #more-detail .detail .text .head2 {
      margin-top: 15px;
      font-size: 28px;
      font-weight: bold;
      line-height: 30px; }

@media (max-width: 991px) {
  #what-to-do .headline {
    font-size: 24px;
    line-height: 26px; }
  #what-to-do .to-do-list {
    padding: 0px 0px; }
    #what-to-do .to-do-list .list-item .item {
      padding: 10px 0px; }
      #what-to-do .to-do-list .list-item .item .text {
        width: 100%; }
    #what-to-do .to-do-list .list-item .sub-item {
      width: 100%;
      margin-top: -20px; }
      #what-to-do .to-do-list .list-item .sub-item ul {
        padding-left: 18px; }
  #emergency .headline {
    font-size: 24px;
    line-height: 26px; }
  #more-detail .headline {
    font-size: 24px;
    line-height: 26px; } }
