@charset "utf-8";
@font-face {
    font-family: 'DBHelvethaicaX45Light';
    src: url('../fonts/helvethaica/dbhelvethaicaxli-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicaxli-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicaxli-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicaxli-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicaxli-webfont.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX47LightCondensed';
    src: url('../fonts/helvethaica/dbhelvethaicaxlicond-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicaxlicond-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicaxlicond-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicaxlicond-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicaxlicond-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX55Regular';
    src: url('../fonts/helvethaica/dbhelvethaicax-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicax-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicax-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicax-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicax-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX57Condensed';
    src: url('../fonts/helvethaica/dbhelvethaicaxcond-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicaxcond-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicaxcond-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicaxcond-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicaxcond-webfont.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX65Medium';
    src: url('../fonts/helvethaica/dbhelvethaicaxmed-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicaxmed-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicaxmed-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicaxmed-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicaxmed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX73BoldExtended';
    src: url('../fonts/helvethaica/dbhelvethaicaxbdext-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicaxbdext-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicaxbdext-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicaxbdext-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicaxbdext-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX75Bold';
    src: url('../fonts/helvethaica/dbhelvethaicaxbd-webfont.eot');
    src: url('../fonts/helvethaica/dbhelvethaicaxbd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvethaica/dbhelvethaicaxbd-webfont.woff2') format('woff2'),
    url('../fonts/helvethaica/dbhelvethaicaxbd-webfont.woff') format('woff'),
    url('../fonts/helvethaica/dbhelvethaicaxbd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('../fonts/thaisansneue/thaisansneue-regular.eot');
    src: url('../fonts/thaisansneue/thaisansneue-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thaisansneue/thaisansneue-regular.woff') format('woff'),
    url('../fonts/thaisansneue/thaisansneue-regular.ttf') format('truetype'),
    url('../fonts/thaisansneue/thaisansneue-regular.svg#thaisans_neue') format('svg');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'thaisans_neue_i';
    src: url('../fonts/thaisansneue/thaisansneue-italic.eot');
    src: url('../fonts/thaisansneue/thaisansneue-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thaisansneue/thaisansneue-italic.woff') format('woff'),
    url('../fonts/thaisansneue/thaisansneue-italic.ttf') format('truetype'),
    url('../fonts/thaisansneue/thaisansneue-italic.svg#thaisans_neue') format('svg');
    font-weight: normal;
    font-style: italic;
	font-smoothing: antialiased;

}

@font-face {
    font-family: 'thaisans_neue_l';
    src: url('../fonts/thaisansneue/thaisansneue-light.eot');
    src: url('../fonts/thaisansneue/thaisansneue-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thaisansneue/thaisansneue-light.woff') format('woff'),
    url('../fonts/thaisansneue/thaisansneue-light.ttf') format('truetype'),
    url('../fonts/thaisansneue/thaisansneue-light.svg#thaisans_neue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-smoothing: antialiased;

}

@font-face {
    font-family: 'thaisans_neue_b';
    src: url('../fonts/thaisansneue/thaisansneue-bold.eot');
    src: url('../fonts/thaisansneue/thaisansneue-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thaisansneue/thaisansneue-bold.woff') format('woff'),
    url('../fonts/thaisansneue/thaisansneue-bold.ttf') format('truetype'),
    url('../fonts/thaisansneue/thaisansneue-bold.svg#thaisans_neue') format('svg');
    font-weight: bold;
    font-style: normal;
	font-smoothing: antialiased;

}
@font-face {
    font-family: 'thaisans_neue_bi';
    src: url('../fonts/thaisansneue/thaisansneue-bolditalic.eot');
    src: url('../fonts/thaisansneue/thaisansneue-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thaisansneue/thaisansneue-bolditalic.woff') format('woff'),
    url('../fonts/thaisansneue/thaisansneue-bolditalic.ttf') format('truetype'),
    url('../fonts/thaisansneue/thaisansneue-bolditalic.svg#thaisans_neue') format('svg');
    font-weight: bold;
    font-style: italic;
	font-smoothing: antialiased;

}

@font-face {
    font-family: 'db_ozone_x';
    src: url('../fonts/ozone/dbozonex.eot');
    src: url('../fonts/ozone/dbozonex.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ozone/dbozonex.woff') format('woff'),
         url('../fonts/ozone/dbozonex.ttf') format('truetype'),
         url('../fonts/ozone/dbozonex.svg#db_ozone_x') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_ozone_xbold';
    src: url('../fonts/ozone/dbozonexbd.eot');
    src: url('../fonts/ozone/dbozonexbd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ozone/dbozonexbd.woff') format('woff'),
         url('../fonts/ozone/dbozonexbd.ttf') format('truetype'),
         url('../fonts/ozone/dbozonexbd.svg#db_ozone_xbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_ozone_xbold_italic';
    src: url('../fonts/ozone/dbozonexbdit.eot');
    src: url('../fonts/ozone/dbozonexbdit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ozone/dbozonexbdit.woff') format('woff'),
         url('../fonts/ozone/dbozonexbdit.ttf') format('truetype'),
         url('../fonts/ozone/dbozonexbdit.svg#db_ozone_xbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;

}
@font-face {
    font-family: 'db_ozone_xmedium';
    src: url('../fonts/ozone/dbozonexmed.eot');
    src: url('../fonts/ozone/dbozonexmed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ozone/dbozonexmed.woff') format('woff'),
         url('../fonts/ozone/dbozonexmed.ttf') format('truetype'),
         url('../fonts/ozone/dbozonexmed.svg#db_ozone_xmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_ozone_xmedium_italic';
    src: url('../fonts/ozone/dbozonexmedit.eot');
    src: url('../fonts/ozone/dbozonexmedit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ozone/dbozonexmedit.woff') format('woff'),
         url('../fonts/ozone/dbozonexmedit.ttf') format('truetype'),
         url('../fonts/ozone/dbozonexmedit.svg#db_ozone_xmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;

}
@font-face {
    font-family: 'nobel';
    src: url('../fonts/nobel/nobel-boldcondensed.eot');
    src: url('../fonts/nobel/nobel-boldcondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nobel/nobel-boldcondensed.woff2') format('woff2'),
         url('../fonts/nobel/nobel-boldcondensed.woff') format('woff'),
         url('../fonts/nobel/nobel-boldcondensed.ttf') format('truetype'),
         url('../fonts/nobel/nobel-boldcondensed.svg#nobel') format('svg');
    font-weight: bold;
    font-style: normal;
	font-stretch:condensed

}
@font-face {
    font-family: 'psl_kittithada';
    src: url('../fonts/psl-kittithada/PSL094cs-webfont.eot');
    src: url('../fonts/psl-kittithada/PSL094cs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl-kittithada/PSL094cs-webfont.woff') format('woff'),
         url('../fonts/psl-kittithada/PSL094cs-webfont.ttf') format('truetype'),
         url('../fonts/psl-kittithada/PSL094cs-webfont.svg#psl_kittithada') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'psl_kittithada';
    src: url('../fonts/psl-kittithada/PSL096cs-webfont.eot');
    src: url('../fonts/psl-kittithada/PSL096cs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl-kittithada/PSL096cs-webfont.woff') format('woff'),
         url('../fonts/psl-kittithada/PSL096cs-webfont.ttf') format('truetype'),
         url('../fonts/psl-kittithada/PSL096cs-webfont.svg#psl_kittithada') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'psl_display';
    src: url('../fonts/psl-display/psl29cs.eot');
    src: url('../fonts/psl-display/psl29cs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl-display/psl29cs.woff') format('woff'),
         url('../fonts/psl-display/psl29cs.ttf') format('truetype'),
         url('../fonts/psl-display/psl29cs.svg#psl_display') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'psl_display';
    src: url('../fonts/psl-display/psl30cs.eot');
    src: url('../fonts/psl-display/psl30cs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl-display/psl30cs.woff') format('woff'),
         url('../fonts/psl-display/psl30cs.ttf') format('truetype'),
         url('../fonts/psl-display/psl30cs.svg#psl_display') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'psl_kanda';
    src: url('../fonts/psl-kanda/psl162cs.eot');
    src: url('../fonts/psl-kanda/psl162cs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl-kanda/psl162cs.woff') format('woff'),
         url('../fonts/psl-kanda/psl162cs.ttf') format('truetype'),
         url('../fonts/psl-kanda/psl162cs.svg#psl_kanda') format('svg');
    font-weight: normal;
    font-style: normal;

}