@import "./global/_constant.scss";
#about_us {
    margin: 40px 0;
    .headline {
        font-size: 36px;
    }
    .sub-headline {
        margin-top: -10px;
    }
    .list {
        margin-top: 20px;
    }
    .avatar {
        img {
            width: 100%;
            border: 4px solid #FFF;
            box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
        }
    }
    .content {
        margin-top: 10px;
        table {
            td {
                padding: 4px 8px;
            }
            tr:last-child {
                td {
                    border-bottom: 1px solid #DDD;
                }
            }
        }
    }
    .sidebar {
        .list {
            margin-top: 0;
            .menu-item {
                display: block;
                background: $nav-bg;
                border-radius: 5px;
                padding: 4px 6px;
                margin-bottom: 6px;
                text-align: center;
                color: $nav-text;
                transition: opacity 0.4s;
                &.active {
                    background: $nav-bg-active;
                }
                &:not(.active):hover {
                    opacity: 0.75;
                }
            }
        }
    }
    #history {
        .content {
            img {
                width: 100%;
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 20px;
                text-indent: 40px;
                text-align: justify;
            }
        }
    }
    #manager {
        .list {
            .manager {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 14px;
                .info {
                    .name {
                        font-size: 24px;
                        line-height: 18px;
                    }
                    .position {
                        font-size: 18px;
                        color: $headline-sub;
                    }
                }

                &.col-lg-6{
                  margin-bottom: 40px;
                }
            }
        }
    }
    #executive-committee {
        .list {
            .committee {
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
            }
        }
    }
    #annual-report {
        .list {
            .report {
                margin-bottom: 20px;

                .title {
                    font-size: 24px;
                }
                .image {
                    border: 1px solid #DDD;
                    background: #EEE;
                    padding: 10px 14px;
                    img {
                        width: 100%;
                        max-height: 210px;
                    }
                }
                .download {
                    border: 1px solid #DDD;
                    border-top: 0;
                    text-align: right;

                    > div {
                        display: inline-block;
                        padding: 4px 10px;
                    }

                    .doc-icon {
                        float: left;
                        border-right: 1px solid #DDD;
                    }
                }
            }
        }
    }
}
