
@import "./global/_constant.scss";

#career{
  padding: 40px 0;

  .headline{
    font-size: 36px;
  }

  .sub-headline{
    margin-top: -10px;
  }

  .content{
    margin-top: 20px;

    .topic{
      font-size: 24px;
      font-weight: 700;
    }

    p{
      text-indent: 40px;
      margin-bottom: 20px;
    }

    table{
      td{
        padding: 4px 8px;
      }

      tr:last-child{
        td{
          border-bottom: 1px solid #DDD;
        }
      }
    }
  }
}