@import "./global/_constant.scss";

#banner{
  background: url('../../images/claim-banner.png') center;
  background-size: cover;
  height: 600px;
}

#content{
  margin: 40px 0;

  .headline{
    text-align: center;
    font-size: 32px;
    color: $blue-dark;
    margin: 0;
    margin-bottom: 20px;
  }

  .box{
    padding-bottom: 10px;

    .topic{
      padding: 14px;
      background: $lightblue;
      border-radius: 20px;
      color: $text-default;
      text-align: center;
      font-size: 24px;
      cursor: pointer;
      transition: all 0.4s;

      &:hover{
        background: #B3DDfa;
      }
    }

    .detail{
      display: none;
      padding: 20px 0 10px;
      line-height: 32px;

      strong{
          font-size: 28px;
      }
    }

    &.active{
      .topic{
        background: $buttonblue;
        color: $text-button-default;
      }
    }
  }
}

#emergency{
  background-color: $banner-bg;
  padding: 30px 0px;

  .headline{
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    color: $headline-main;
  }
  .item{
    .icon{
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      min-height: 80px;
    }
    .name{
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: $headline-main;
    }
    .number{
      font-size: 50px;
      line-height: 52px;
      font-weight: bold;
      text-align: center;
      color: #d0011b;

      border-bottom: 1px solid #969799;
    }
    .detail{
      text-align: center;
      margin-top:15px ;
      line-height: 22px;
    }
  }
}
