@import "./global/_constant.scss";
#contact{
  padding: 40px 0;

  .headline{
    font-size: 36px;
  }

  .sub-headline{
    margin-top: -10px;
  }

  .tsi-contact{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .map{
    iframe {
      width: 100%;
      height: 450px;
    }
  }
  .table-detail{
    thead{
      tr{
        background-color: #15A0FE;
        color: #ffffff;
        th{
          font-size: 22px;
          border-color: #ffffff;
        }
      }
    }

    tbody{
      tr{
        td{
          border-color: #ffffff;
        }
      }
      .department{
          background-color: #D2EAFB;
        &:hover{
          cursor: pointer;
        }
        .plus{
          font-size: 22px;
          font-weight: bold;
          color: #D0021B;
        }
      }
      .more-detail{
        display: none;
        background-color: #ffffff;

        td{
          padding: 10px 30px 20px;

          .name{
            font-weight: bold;
            font-size: 26px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #contact{
    .table-detail {
      tbody {
        .more-detail {
          td {
            padding: 0px 10px;
          }
        }
      }
    }

    .map{
      iframe{
        height: 300px;
      }
    }
  }

}
