#download{
  padding: 40px 0px;
  .headline{
    font-size: 36px;
  }

  .panel-download{
    margin-bottom: 10px;
    .panel-heading{
      background: #25a2fa;
      font-size: 26px;
      padding: 0;
      .panel-link{
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #FFF;
        .icon-plus{
          position: absolute;
          right: 15px;
        }
      }
    }
    .panel-body{
      display: none;
      border: 1px solid #25a2fa;
      padding: 15px 60px;
      margin-bottom: 10px;
      .download-list{
        .unlink{
          pointer-events: none;
          cursor: default;
          color: #b4b4b4;
        }
      }
    }
    .panel-body.active{
      display: block;
    }

  }
}