
@import "./global/_constant.scss";

#banner-top{
  background: $nav-bg;
  min-height: inherit !important;
  // padding: 10px 10px 10px 10px;
  img{
    margin: 0 auto;
    max-width: 100%;
  }
}

.bx-wrapper .bx-viewport{
  height: auto !important;
}

#quick-faq-bar{
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 28px;
  color: #FFF;
  border-radius: 0;

  i{
    font-size: 24px;
    margin-right: 6px;
  }
}

#products{
  padding: 40px 0;

  .headline{
    text-align: center;
    margin-bottom: 30px;

    .main{
      font-size: 32px;
      color: $headline-main;
    }

    .sub{
      font-size: 24px;
      color: $headline-sub;
    }
  }

  .list{
    .product{
      cursor: pointer;

      .icon{
        display: block;
        position: relative;
        margin-bottom: 10px;
        transition: all 0.2s;

        .img-normal,
        .img-hover{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 60%;
        }

        .img-normal{
          opacity: 1;
          transition: opacity 0.2s;
        }

        .img-hover{
          opacity: 0;
        }
      }

      .info {
        position: relative;
        margin-bottom: 20px;
        padding: 4px 0;
        border-radius: 5px;
        transition: all 0.2s;

        .arrow{
          display: none;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $button-blue-primary;
        }

        .name {
          display: block;
          text-align: center;
          font-size: 18px;
          transition: color 0.2s;
        }

        .sub-products{
          display: none;

          .sub-product{
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 6px 10px;
            transition: background 0.2s;
          }
        }
      }

      &:hover{
        .icon{
          background: #FFF;

          .img-normal{
            opacity: 0;
          }

          .img-hover{
            opacity: 1;
          }
        }

        .info{
          background: $button-blue-primary;

          .arrow{
            display: block;
          }

          .name{
            color: $text-button-default;
          }

          .sub-products{
            .sub-product{
              color: $text-button-default;

              &:hover{
                background: $button-blue-primary-hover;
              }
            }
          }
        }
      }
    }
  }
}

#highlight{
  padding: 20px 0 40px;

  .headline{
    font-size: 28px;
    color: $headline-main;
  }

  .banner{
    img{
      width: 100%;
      max-height: 400px;
    }
  }
}

#news{
  padding: 20px 0;

  .headline{
    font-size: 28px;
    color: $headline-main;
    position: relative;
    .view-all{
      font-size: 18px;
      position: absolute;
      right: 0px;
      top: 8px;
      a{ color: red; }
    }
  }

  .list{
    .news-item{
      margin-bottom: 20px;

      .image{
        height: 180px;
        background-size: cover;
        margin-bottom: 10px;

        img{
          width: 100%;
          max-width: 100%;
        }
      }

      .title{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 4px;
        color: $headline-main;

        a{
          color: $headline-main;
        }
      }

      .description{
        color: $headline-sub;
        line-height: 20px;

        .read-more{
          color: $text-readmore;

          &:hover{
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

#footer-banners{
  background: #F3F3F3;
  padding: 30px 0 20px;

  img{
    width: 100%;
    margin-bottom: 10px;
  }
}

// Stylesheet for Mobile and Tablet screen
@media (max-width: 767px){
  #ui-main > div:first-child {
    min-height: 50px;
  }
  #banner{
    .container{
      .image-div{
        height: 300px;

        img{
          margin-top: 30px;
          height: 300px;
        }
      }
      .content{
        height: auto;
        padding: 20px 0;
      }
    }
  }
}
