@import "./global/_constant.scss";

body{
  img{
    max-width: 100%;
  }
}
.claim{
  padding: 10px 10px 10px 10px;
}
#what-to-do{
  margin-top: 60px;

  .headline{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    color: $headline-main;
  }
  .headline-sub{
    text-align: center;
    color: $headline-sub;
  }
  .to-do-list{
    padding: 20px 0px;
    .image{
      text-align: right;
    }
    .list-item{
      .item{
        display: flex;
        flex-direction: row;
        align-items:center;
        padding: 18px 0px;
        cursor: pointer;
        &:hover .text{
          background-color: #0095ea;
        }
        .number{
          z-index: 1;
          width: 50px;
          height: 50px;
          padding: 4px 18px;
          font-size: 30px;
          color: #fff;
          background-color: #d0011b;
          border: 2px solid #ffffff;

          -webkit-border-radius: 50% 50%;
          -moz-border-radius: 50% 50%;
          border-radius: 50% 50%;
        }

        .text{
          width: 80%;
          margin-left: -30px;
          padding: 5px 20px 5px 40px;
          color: #ffffff;
          line-height: 22px;
          background-color: #0080d7;
          -webkit-border-radius: 30px 30px;
          -moz-border-radius: 30px 30px;
          border-radius: 30px 30px;

          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
      .sub-item{
        display: none;
        width: 80%;
        margin-top: -25px;
        margin-left: 20px;
        padding: 5px 20px 5px 40px;
        color: #000000;
        a{
          font-weight: bold;
        }
      }
    }
  }
}

#emergency{
  background-color: $banner-bg;
  padding: 30px 0px;

  .headline{
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    color: $headline-main;
  }
  .item{
    .icon{
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      min-height: 80px;
    }
    .name{
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: $headline-main;
    }
    .number{
      font-size: 50px;
      line-height: 52px;
      font-weight: bold;
      text-align: center;
      color: #d0011b;

      border-bottom: 1px solid #969799;
    }
    .detail{
      text-align: center;
      margin-top:15px ;
      line-height: 22px;
    }
  }
}

#more-detail{
  padding: 30px 0px;
  .headline{
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    color: $headline-sub;
    text-align: center;
  }
  .headline-sub{
    text-align: center;
  }
  .detail{
    .image{
      margin-top: 15px;
    }
    .text{
      line-height: 26px;
      .head{
        margin-top: 15px;
        font-size: 24px;
        font-weight: bold;
        line-height: 26px;
      }
      .head2{
        margin-top: 15px;
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
      }

    }
  }
}
@media (max-width: 991px){
  #what-to-do{
    .headline{
      font-size: 24px;
      line-height: 26px;
    }
    .to-do-list{
      padding: 0px 0px;
      .list-item{
        .item{
          padding: 10px 0px;
          .text{
            width: 100%;
          }
        }
        .sub-item{
          width: 100%;
          margin-top: -20px;

          ul{
            padding-left: 18px;

          }
        }
      }
    }
  }
  #emergency {
    .headline {
      font-size: 24px;
      line-height: 26px;
    }
  }

  #more-detail{
    .headline{
      font-size: 24px;
      line-height: 26px;
    }
  }

}
