
@import "./global/_constant.scss";

#news{
  padding: 40px 0;

  .headline{
    font-size: 36px;
  }

  .sub-headline{
    margin-top: -10px;
  }

  .list{
    margin-top: 20px;

    .news{
      margin-bottom: 20px;

      .image{
        height: 180px;
        background-size: cover;
        margin-bottom: 10px;

        img{
          width: 100%;
        }
      }

      .title{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 4px;
        color: $headline-main;

          a{
            color: $text-default;
          }
      }

      .description{
        color: $headline-sub;
        line-height: 20px;

        .read-more{
          color: $text-readmore;

          &:hover{
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}