
@import "./global/_constant.scss";

#banner{
  position: relative;
  background: url('../../images/product-banner-01.png') center left no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;

  > div{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.6);
      padding: 14px 20px;
  }

  .headline-main{
    padding: 0 20px;
    font-size: 48px;
  }

  .headline-sub{
    padding: 0 20px;
    font-size: 24px;
  }
}
#quick-faq-bar{
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 28px;
  color: #FFF;
  border-radius: 0;

  i{
    font-size: 24px;
    margin-right: 6px;
  }
}
#product-list{
  padding: 50px 0 30px;

  .headline{
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: $buttonblue;
  }

  .list{
    .item{
      padding: 15px;
      margin-bottom: 20px;
      display: block;

      .product-img{
        position: relative;
        margin-bottom: 10px;
        background: #0081D7;

        > img:not(.icon-img){
          width: 100%;
        }

        .icon-bg{
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 120px 160px;
          border-color: transparent transparent $buttonblue transparent;
          line-height: 0px;
          _border-color: #000000 #000000 $buttonblue #000000;
          _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }

        .icon-img{
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }

      .product-info{
        .product-name-main{
          color: $buttonblue;
          font-size: 24px;
          line-height: 24px;
        }

        .product-name-sub{
          color: #666;
          line-height: 24px;
        }
      }

      &:hover{
        background: $lightblue;
      }
    }
  }
}

#product-description{
  background: $lightblue;
  padding: 60px 0;

  .headline-main{
    padding: 0 20px;
    font-size: 42px;
  }

  .headline-sub{
    padding: 0 20px;
    font-size: 24px;
  }

  .container{
    padding: 0 40px;
  }
}

#products{
  padding: 70px 0 80px;

  .headline{
    text-align: center;
    margin-bottom: 30px;

    .main{
      font-size: 32px;
      color: $headline-main;
    }

    .sub{
      font-size: 24px;
      color: $headline-sub;
    }
  }

  .list{
    .product{
      cursor: pointer;

      .icon{
        position: relative;
        margin-bottom: 10px;
        transition: all 0.2s;

        .img-normal,
        .img-hover{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 60%;
        }

        .img-normal{
          opacity: 1;
          transition: opacity 0.2s;
        }

        .img-hover{
          opacity: 0;
        }
      }

      .info {
        position: relative;
        margin-bottom: 20px;
        padding: 4px 0;
        border-radius: 5px;
        transition: all 0.2s;

        .arrow{
          display: none;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $button-blue-primary;
        }

        .name {
          text-align: center;
          font-size: 18px;
          transition: color 0.2s;
        }

        .sub-products{
          display: none;

          .sub-product{
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 6px 10px;
            transition: background 0.2s;
          }
        }
      }

      &:hover{
        .icon{
          background: #FFF;

          .img-normal{
            opacity: 0;
          }

          .img-hover{
            opacity: 1;
          }
        }

        .info{
          background: $button-blue-primary;

          .arrow{
            display: block;
          }

          .name{
            color: $text-button-default;
          }

          .sub-products{
            .sub-product{
              color: $text-button-default;

              &:hover{
                background: $button-blue-primary-hover;
              }
            }
          }
        }
      }
    }
  }
}

#main-content{
  padding: 60px 0;

  .headline{
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $buttonblue;

    .headline-sub{
      color: $darkblue;
      font-size: 28px;
      line-height: 28px;
    }

    .headline-main{
      color: $buttonblue;
      font-size: 36px;
    }

    .description{
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .content{
    .block{
      margin-bottom: 1px;
      clear: both;
      .topic{
        font-size: 30px;
        background: $lightblue;
        color: $buttonblue;
        padding: 10px 20px;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover{
          opacity: 0.8;
        }
      }

      .detail{
        display: none;
        padding: 14px 20px;
      }
    }
  }

  .contact-form{
    margin-top: 30px;

    form input,form textarea,form select{
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    form input[type=radio]{
      width: auto;
    }
    form textarea{
      resize: none;
      border-color: #cccccc;
    }
    form select{
      height: 34px;
      //font-size: 18px;
      border: 0;
      outline: 1px inset #cccccc;
      outline-offset:-1px;
      background-color: #ffffff;
    }
    .btn-buy{
      font-size: 18px;
      color: #ffffff;
      background-color: #4db5ff;
    }
  }
  .option{
    padding: 20px 0;
  }
}
