@import "./global/_constant.scss";
#service-finder{
  padding-top: 25px;
  p{
    margin: 0px 0px;
  }
  .result{
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    h1{
      padding: 0px 10px;
    }
    .result-list{
      font-family: 'Thonburi', 'Tahoma', serif;
      height: 100vh;
      //display: none;

      .list:first-child{
        border-top: 1px solid #e8e8e8;
      }
      .list{
        p{
          font-size: 12px;
          padding: 0px 10px 10px 10px;
        }
        .name{
          padding-top: 10px;
          font-weight: bold;
          cursor: pointer;

          .latlong{
            padding: 2px 5px;
            color: white;
            background: #cc0000;
            border-radius: 4px;
            font-size: 10px;
          }
        }
        .tel-fax{
          span{ display: block; }
        }
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  .filter-map{
    //margin-left: -350px;
    width: 70%;
    height: 100%;
    .filter{
      z-index: 1;
      border-bottom: 1px solid #e8e8e8;
      .filter-service{
        padding: 10px 10px;
        .btn{
          font-size: 20px;
          margin-right: 5px;
        }
        .btn.btn-service.active{
          background: #053c79;
        }
        .btn.btn-service{
          padding: 5px 15px;
          background: rgba(5, 60, 121, 0.5);
          color: white;
          border-radius: 4px;
        }
      }
      .filter-location{
        //margin-top: -105px;
        display: flex;
        flex-direction: row;
        font-size: 18px;
        select{
          margin: 0px 10px 10px 10px;
          font-size: inherit;
        }
        .brand{
          display: none;
        }

      }
    }

    .show-map{
      display: block;
      height: 100vh;
    }
  }
}
@media (max-width: 991px) {
  #service-finder{
    .result{
      width: 100%;
      height: auto;
      overflow-y: auto;
    }
    .filter-map{
      width: 100%;
      height: auto;

      .show-map{
        display: none;
      }
    }
  }
}
