@import "./global/_constant.scss";
$breakpoint_1: 1024px;
.latnotfound {
  padding: 2px 5px;
  color: white;
  background: darken(red, 10);
  border-radius: 4px;
  font-size: 10px;
}

.type-selector-container {
  display: flex;
  .type-child {
    padding: 5px 15px;
    background: rgba(#053c79, 0.5);
    color: white;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: rgba(#053c79, 0.7);
    }
    &.selected {
      background: rgba(#053c79, 1);
    }
  }
}

.service-finder {
  // position: fixed;
  // top: 0;
  // z-index: 2;
  .container {
    &.service-intro {
      margin-top: -70px;
      padding-top: 70px;
      height: 100vh;
      min-height: 800px;
      display: flex;
      align-items: center;
      h1 {
        font-size: 60px;
        font-weight: bolder;
      }
      h2 {
        text-align: center;
      }
      .image-div {
        width: 500px;
        height: auto !important;
        img {
          width: 100%;
        }
      }
      .form-wrap {
        flex: 1 0 auto;
        .service-list {
          text-align: center;
          .service-item {
            margin: 10px;
            .service-box {
              width: 120px;
              border-radius: 5px;
              height: 120px;
              background: $buttonblue;
            }
          }
        }
      }
    }
  }
  .service-result {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-top: 100px;
    @media screen and (max-width: $breakpoint_1) {
      position: relative;
      flex-direction: column;
      padding-top: 30px;
    }
    .map-wrap {
      min-height: 500px;
      height: auto;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: $breakpoint_1) {
        min-height: 0;
      }
      .custom-marker {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .service-marker {
          width: 15px;
          height: 15px;
          background: $navblue;
          border-radius: 50%;
          margin-right: 10px;
          border: 3px solid white;
        }
        .service-title {
          white-space: nowrap;
          a {
            color: black;
            font-size: 18px;
            text-shadow: 0 1px 1px white;
          }
        }
      }
      .location-selected-wrap {
        display: flex;
        flex: 0 0 auto;
        @media screen and (max-width: 820px) {
          flex-direction: column;
          box-sizing: border-box;
        }
        .form-row {
          flex: 1 0 auto;
          margin: 5px;
          @media screen and (max-width: $breakpoint_1) {
            width: auto;
          }
          label {
            &.dropdown {
              width: 100%;
              font-size: 14px;
              margin: 0;
              .dropdown {
                padding-right: 40px;
              }
            }
          }
        }
      }
      #service-map {
        height: auto;
        flex: 1 1 auto;
        @media screen and (max-width: $breakpoint_1) {
          visibility: hidden;
          position: absolute;
        }
      }
    }
    .result-list {
      padding: 0;
      height: 100%;
      width: 350px;
      display: flex;
      align-items: stretch;
      background: white;
      border-right: 1px $buttonblue solid;
      overflow: scroll;
      @media screen and (max-width: $breakpoint_1) {
        width: 100%;
        position: relative;
        top: 0;
        opacity: 0.9;
        border-right: none;
        //transform: translate(-100%,0);
      }
      .result-wrap {
        font-family: 'Thonburi', 'Tahoma', serif;
        border-radius: 4px;
        font-size: 12px;
        font-weight: normal;
        width: 100%;
        margin: 0;
        thead {
          border: none;
          tr {
            border: none;
            th {
              border: none;
            }
          }
        }
        th {
          background: $grey;
          color: $buttonblue;
          text-align: center;
        }
        td {
          padding: 10px;
          border-top: none;
        }
        tr {
          border-bottom: 1px solid $bordergrey;
        }
        tr:nth-child(even) {
          // background: $grey;
        }
        tr:nth-child(odd) {
          background: white;
        }
      }
    }
  }
  .form-row {
    position: relative;
    justify-content: center;
    display: flex;
    font-family: 'THSarabunNew', 'Thonburi', 'Tahoma', serif;
    font-weight: lighter;
    .spinner-wrap {
      pointer-events: none;
      top: 50%;
      transform: translate(0, -50%) scale(0.5);
      position: absolute;
      right: 0;
      z-index: 2;
      .spinner {
        width: 33px;
        height: 33px;
        margin: 0;
        opacity: 0;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .service-finder-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    .dropdown {
      display: block;
      float: none;
    }
    button {
      float: none;
      margin: auto;
      display: block;
    }
    h1 {
      text-align: center;
    }
  }
  .service-list {
    display: flex;
    justify-content: center;
    .item {
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .wrap {
        min-width: 80px;
        img {
          margin: auto;
          display: block;
        }
      }
    }
  }
}

.map-loading-wrap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  &.active {
    display: flex;
  }
}