$lightblue:#d3eafa;
$darkblue:#1b1862;
$navblue:#053c79;
$buttonblue:#25a2fa;
$bordergrey:lightgrey;
$grey:#dedede;
$white:white;

$blue-dark: #053c79;
$white: #FFF;

$text-default: #1b1862;
$text-readmore: #FF0000;
$text-button-default: #FFF;

$nav-bg: $blue-dark;
$nav-bg-active: #022042;
$nav-text: $white;
$nav-text-hover: rgba(255,255,255,0.75);

$footer-bg: $blue-dark;
$footer-text: rgba(255,255,255,0.75);
$footer-text-hover: $white;

$button-blue-primary: #25a2fa;
$button-blue-primary-hover: #4DB5FF;

$banner-bg: #d3eafa;

$headline-main: $text-default;
$headline-sub: #0081D7;


// fonts

$helvethaica_regular : "db_helvethaica_x55_regular","Thonburi","Tahoma",serif;
$helvethaica_light : "db_helvethaica_x45_light","Thonburi","Tahoma",serif;
