@import "./_constant.scss";

footer{
  flex: 1 0 auto;
  background: $footer-bg;
  color: #FFF;

  #full-footer{
    padding: 30px 0;

    .headline{
      font-size: 22px;
      font-weight: bolder;
      color: #FFF;
    }

    .headline:not(:first-child){
      margin-top: 8px;
    }

    .list{
      .item{
        display: block;
        font-size: 18px;
        color: $footer-text;

        &:hover{
          color: $footer-text-hover;
        }
      }
    }

    .button{
      display: block;
      margin-top: 14px;
    }
  }

  #wrap-footer{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    line-height: 18px;
    margin-top: 2px;

    > .sub-text {
      font-size: 16px;
      line-height: 14px;
    }
  }
}
.social{
  display:  inline-flex;
  // padding: 10px 10px 10px 10px;
  a{

  }

  img{
    padding: 0px 2px 2px;
    width : 40px;
  }
  .facebook{
      width : 41.5px;
  }
}
