@import "./././././node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_constant.scss";

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $helvethaica_light;
  font-size: 20px;
  color: $text-default;
  letter-spacing: 1px;
}

#ui-main{
  flex: 1 0 auto;
  margin-top: 112px;
  height: auto;

  > div:first-child{
    min-height: 500px;
  }
}

*:focus{
  outline: none !important;
}

a{
  transition: all 0.2s;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none !important;
  }
}

.glyphicon{
  font-size: 14px;
}

.square:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.button{
  &.-default{
    background: $button-blue-primary;
    border: none;
    color: $text-button-default;
    padding: 6px 14px;
    border-radius: 5px;
    transition: background 0.2s;

    &:hover{
      background: $button-blue-primary-hover;
    }
  }
}

label.dropdown {
  background: #FFF;
   border: 1px solid #DDD;
   border-radius: 5px;
   padding: 0;

   select {
     width: 100%;
     padding: 4px 10px;
     background: #FFF;
     border: 0;
     appearance: none;
     cursor: pointer;
     line-height: 1.5;
     text-indent: 2px;
     &:hover{
       background: #EEE;
     }
   }

   &:after {
     content:  "\e114";
     font-family: 'Glyphicons Halflings';
     font-size:11px;
     // font: 11px "Consolas", monospace;

     color: #aaa;
     transform: rotate(0deg) translate(0%, -50%);
     width:auto;
     top: 50%;
     right:0;
     padding: 5px 10px;
     border-left: 1px solid #ddd;
     position: absolute;
     pointer-events: none;
   }
     &.hide-icon{
         opacity: 0.5;
         pointer-events: none;
       &:after{
           color:rgba(0,0,0,0);
       }
   }

}

// Banner
#banner {
  background: $banner-bg;

  .container {

    .image-div {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 500px;

      img{
        max-height: 420px;
      }
    }

    .content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 500px;

      form {
        width: 100%;

        .instruction {
          font-size: 36px;
          color: $headline-main;
          margin-bottom: 10px;
        }

        .form-row {
          overflow: hidden;
          margin-bottom: 16px;
        }
      }
    }
  }
}


// Loading Spinder

.spinner {
  width: 40px;
  pointer-events: none;
  height: 40px;
  //margin: 10px auto;
  background-color: #333;
  transform-origin: center center;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
// end spiner
