@import "./_constant.scss";

header{
  width: 100%;
  position: fixed;
  background: $nav-bg;
  color: $nav-text;
  z-index: 10000;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;

    a:not(.button) {
      color: $nav-text;
      text-decoration: none;

      &:hover {
        color: $nav-text-hover;
        text-decoration: none;
      }
    }

    #logo {
      align-self: flex-start;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      text-decoration: none;
      padding: 14px 0;

      > .image {
        display: inline-block;
        // margin-right: 14px;
        height: 84px;
      }
      > .text {
        display: inline-block;
        font-size: 20px;
        line-height: 18px;
        margin-top: 2px;

        > .sub-text {
          font-size: 16px;
          line-height: 14px;
        }
      }
    }

    #nav-bar {
      flex: 1 0 auto;
      align-self: center;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      i.glyphicon-menu-hamburger{
        display: none;
      }

      .langChange{
        cursor: pointer;
      }

      nav {
        display: inline-block;

        > .nav-item{
          position: relative;
          display: inline-block;
          margin: 0 4px;

          .sub-nav{
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            transform: translate(0, 100%);

            > a{
              display: block;
              width: 100%;
              padding: 4px 10px;
              background: rgba(0, 0, 0, 0.8);

              &:hover{
                background: #000;
                color: #FFF;
              }
            }
          }

          &:hover{
            >a {
              color: $lightblue;
            }

            .sub-nav{
              display: block;
            }
          }
        }
      }
    }

    #lang-bar {
      align-self: center;
      display: inline-block;
      padding: 0 20px;

      a.active{
        text-decoration: underline;
      }
    }

    #emergency-button {
      align-self: flex-end;
      display: inline-block;
      padding: 6px 10px;
      z-index: 4;

      i{
        margin-right: 4px;
      }
    }
  }
}

@media only screen and (max-width: 767px){
  header{
    .container{
      position: relative;

      #logo{
        margin: 0 auto;
      }

      #nav-bar{
        flex: none;
        position: absolute;
        top: 50%;
        left: 0;
        width: 50%;
        height: 75px;
        z-index: 1000;
        transform: translate(0, -50%);

        i.glyphicon-menu-hamburger{
          top: 50%;
          left: 0;
          z-index: 1002;
          position: absolute;
          transform: translate(0, -50%);
          display: block;
          padding: 6px 10px;
          font-size: 24px;
          margin-left: 10px;
        }

        nav{
          display: none;
          position: absolute;
          bottom: -9px;

          left: 10px;
          transform: translate(0, 87%);          
          overflow: visible;
          z-index: 1001;

          > .nav-item{
            margin: 0;
            display: block;
            width: 100%;
            overflow: visible;

            > a{
              display: block;
              width: 100%;
              padding: 4px 10px;

              &:hover{
                color: #FFF;
              }
            }

            .sub-nav{
              display: none;
              position: absolute;
              top: 0;
              left: 3px;
              transform: translate(70%, 0);

              a{
                background: rgba(0, 0, 0, 0.8);
              }
            }

            &:hover{
              background: #999;

              .sub-nav{
                display: block;
              }
            }
          }

          > .another-nav-item{
            padding: 4px 10px;
          }
        }

        &:hover, &:focus, .focused{
          i.glyphicon-menu-hamburger{
            background: #000;
            display: inline-block;
          }

          nav{
            display: block;
            background: #000;
            color: #FFF;
          }
        }
      }

      #lang-bar{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0;
      }
    }
  }
}
